p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    flex-basis: 21%;
    margin-left: auto;
    margin-right: auto;
}

.content-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 15px 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    perspective: 1px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #00000009;
    background-color: #fff;
}

.content-card > h2 {
    font-size: 1.5em;
}