.join-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    /* flex-basis: 21%; */
    margin-left: auto;
    margin-right: auto;
}

.join-panel {
    margin: 10px 5px;
    border-radius: 10px;
    border-collapse: separate; 
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    /* perspective: 1px; */
    overflow: hidden;
    box-shadow: 0px 5px 10px #00000009;
    background-color: #fff;
    width: 500px;
    height: fit-content;
    /* width: 40%; */
    /* min-width: 700px; */
    /* max-width: 400px; */
    /* width: 600px; */
    /* max-width: calc(max(600px, 600px)); */

}

.join-card-header {
    /* font-size: 20px; */
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-p {
    text-align: center;
    font-size: 22px;
}

/* .team-member-photo {
    max-width: 200px;
}

.team-member-name {
    font-weight: 600;
    margin: 0px;
    margin-left: 12px;
}*/

.join-text {
    font-weight: 300;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
    font-size: 15px;
}

.join-subheading {
    font-weight: 600;
    margin: 10px 20px 10px 20px;
}
