.mission-description {
    max-width: 34em;
    margin-left: 20px;
    margin-right: 20px;
}


.mission-highlight-image {
    width: 400px;
}

.status-name {
    font-weight: 600;
    margin: 0px;
    font-size: 0.9em;
    line-height: 37px;
    text-align: center;
}


.status-detail-container {
    color: #333;
    font-size: 0.8em;
    position: relative;
    border-top: #ccc solid 1px;
    text-align: left;
    padding: 5px;
    width: 100%;
    line-height: 1.4em;
}