.mission-description {
    max-width: 40em;
    margin-left: 20px;
    margin-right: 20px;
}


.mission-highlight-image {
    width: 400px;
}

.status-name {
    font-weight: 600;
    margin: 0px;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
}


.status-detail-container {
    position: relative;
    border-top: #ccc solid 1px;
    text-align: left;
    padding: 5px;
    width: 100%;
    line-height: 1.4em;
}