/* .wide {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #515A59;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: #FFF;
    position: relative;
    transition: 0.3s ease-out box-shadow;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60fr 40fr;
    grid-column: 1 / 4;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0;
} */

.resources {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #515A59;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: grid;
    grid-column-gap: 40px;
    
    grid-row-gap: 36px;
    grid-template-columns: repeat(auto-fit,calc(max((100% - 80px) / 3, 350px)));
    /* grid-template-columns: repeat(3,calc((100% - 36px) / 3)); */
    /* grid-template-columns: repeat(auto-fit, 300px); */
    justify-content: center;
    /* max-width: 1000px; */
    /* grid-template-columns: repeat(auto-fit, 200px); */
    margin: 0px 10%;
    margin-bottom: 80px;
    margin-top: 40px;
}

.item {
    border-radius: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #515A59;
    box-sizing: border-box;
    background: #FFF;
    padding-bottom: 18px;
    position: relative;
    transition: 150ms ease-out box-shadow;
    overflow: hidden;
    box-shadow: 0px 10px 20px #00000009;
}

.item:hover {
    box-shadow: 0px 10px 20px #00000013;
}

.item:hover .title {
    color: #b7a57a;
}

.item_image {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #515A59;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.thumb {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #53584f;
    box-sizing: border-box;
    vertical-align: bottom;
    border: 0;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 173px;
}

.cat-icon-wrapper {
    font-weight: 400;
    line-height: 1.8;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFF;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: 0.3s ease-out transform;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    transform: translateX(calc(100% - 40px));
    height: 40px;
}

.cat-icon {
    /* font-family: 'Raleway', 'Arial', sans-serif; */
    font-weight: 400;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #000000;
    box-sizing: border-box;
    vertical-align: bottom;
    border: 0;
    max-width: 100%;
    width: 40px;
    height: 40px;
}

.item_content {
    /* font-family: 'Raleway', 'Arial', sans-serif; */
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #515A59;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    background: #FFF;
    padding: 33px 16px 0 25px;
}

.tags {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 8px;
    font-family: 'Raleway', 'Arial', sans-serif;
    line-height: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 13px;
}

.title {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #333;
    margin-bottom: 11px;
    transition: 150ms ease-out color;
}

.title:hover {
    text-decoration: underline;
}

.date {
    font-weight: 300;
    box-sizing: border-box;
    font-size: 14px;
    color: #888;
    margin-bottom: 14px;
}

.extract {
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    color: #333;
    margin-bottom: 8px;
}

.cta {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
    text-decoration: none;
}

.cta:hover {
    text-decoration: underline;
    color: #b7a57a;
}
