.team-member-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    flex-basis: 21%;
    margin-left: auto;
    margin-right: auto;
}

.team-member-card {
    margin: 10px 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    overflow: hidden;
    box-shadow: 0px 5px 10px #00000009;
    background-color: #fff;
    max-width: 200px;
    text-decoration: none;
    color: black;
}

.team-member-photo {
    max-width: 200px;
}

.team-member-name {
    font-weight: 600;
    margin: 0px;
    margin-left: 12px;
}

.team-member-roles {
    font-weight: 300;
    margin: 0px;
    margin-left: 12px;
    margin-bottom: 6px;
    font-size: 15px;
}

